@use "../../styles/colors" as *;
@use "../../styles/reset.scss" as *;

.button--primary {
  width: 5rem;
  height: 2rem;
  padding: 0.5rem 1.25rem;
  border: 2px solid $black-color;
  border-radius: 0.5rem;
  background-color: $white-color;
  align-content: center;
  text-align: center;
  margin-top: 1rem;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    border: none;
    transition: 0.3s ease-in-out;
    background-color: $accent-color;
    color: $white-color;
  }
}

.button--secondary {
  border: 2px solid $black-color;
  padding: 5px;
  border-radius: 1rem;
  width: 2rem;
  height: 2rem;
}
